# ---------------------------------------------------
# Copyright (c) 2013 Pablo Caro. All Rights Reserved.
# Pablo Caro <me@pcaro.es> - http://pcaro.es/
# all.snippets
# ---------------------------------------------------

# Global snippets

snippet he "Simple header"
---------------------------------------------------
Copyright (c) `date +%Y` Pablo Caro. All Rights Reserved.
Pablo Caro <me@pcaro.es> - https://pcaro.es/
`!v expand("%:t")`
---------------------------------------------------
endsnippet
