# ---------------------------------------------------
# Copyright (c) 2013 Pablo Caro. All Rights Reserved.
# Pablo Caro <pablo@pcaro.es> - http://pcaro.es/
# _.snippets
# ---------------------------------------------------

# Global snippets

snippet h
	---------------------------------------------------
	Copyright (c) `strftime("%Y")` Pablo Caro. All Rights Reserved.
	Pablo Caro <pablo@pcaro.es> - http://pcaro.es/
	`expand("%:t")`
	---------------------------------------------------
